<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chukwu Richard - Portfolio</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="img/x-icon" th:href="@{/img/portfolioicon.png}" />

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/libraries/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>

<!--********TOP JUMBOTRON/NAVBAR********-->
<header class="jumbotron" id="landing-view">
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button id='scroll-button' type="button" class="navbar-toggle collapsed " data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class='page-scroll' th:href="@{/#about}">About</a></li>
                    <li><a class='page-scroll' th:href="@{/#Projects}">Projects</a></li>
                    <li><a class='page-scroll' th:href="@{/#experience}">Experience</a></li>
                    <li><a class='page-scroll' th:href="@{/#skills}">Skills</a></li>
                    <li><a class='page-scroll' th:href="@{/#contact}">Contact</a></li>
                    <li><a href="/En_cv.pdf" download>CV</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container top text-center">
        <h1 class='name'>Chukwu Richard</h1>
        <p class='title'>Personal Portfolio</p>
    </div>
</header>

<!--*******ABOUT ME*******-->
<section id="about-me">
    <div class="container about-row" id="about">
        <div class="row">
            <h2>About Me</h2>
        </div>
        <div class="row">
            <!-- Text Column -->
            <div class="col-xs-12 col-sm-6">
                <p class="about-p">
                    I have a strong foundation in <strong>networking</strong>, <strong>security</strong>, and <strong>data science</strong>, with hands-on experience in <strong>Python</strong>, <strong>AI/ML</strong>, <strong>web development</strong>, and <strong>network administration</strong>. I enjoy solving complex technical challenges through analytical and practical approaches.
                </p>
                <p class="about-p hidden-sm">
                    Recently, I have developed a strong interest in <strong>DevOps</strong>, focusing on <strong>automation</strong>, <strong>cloud practices</strong>, and <strong>continuous integration/continuous deployment (CI/CD)</strong>. I am eager to apply my knowledge and technical skills to learn DevOps principles and contribute effectively to real-world projects.
                </p>
                <p class="about-p hidden-xs hidden-md hidden-lg">
                    I thrive in <strong>collaborative environments</strong>, as shown through my experience in team projects, tutoring, and professional roles, and I am prepared to take on challenges in <strong>networking</strong>, <strong>security</strong>, and emerging <strong>DevOps technologies</strong>.
                </p>
            </div>

            <!-- Picture Column -->
            <div class="col-xs-12 col-sm-4">
                <img th:src="@{/img/me.}" alt="Chukwu Richard" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>
</section>


 <!--***********PROJECTS HEADLINE********-->
<section id="Projects" class="text-center my-5">
    <div class="container">
        <h1 class="section-title">My Projects</h1>
    </div>
</section>

<div class="col-xs-6 col-sm-4 project-cards">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ReCell</h5>
            <p class="card-text">
                Used <span class="highlight">machine learning</span> to predict prices of used phones and tablets. 
                Performed <span class="highlight">data analysis, preprocessing, and Linear Regression modeling</span> to provide actionable resale insights.
            </p>
            <div class="row">
                <a href="/progetti/project1.html" class="card-link"><i class="fas fa-desktop desktop-icon"></i></a>
                <a href="https://github.com/Richardckz/Model-Tuning-ReneWind.git" class="card-link" target="_blank"><i class="fab fa-github github-icon"></i></a>
            </div>
        </div>
    </div>
</div>

    
    <div class="col-xs-6 col-sm-4 project-cards">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">PC Swimming</h5>
                <h6 class="card-subtitle mb-2 text-muted">************************</h6>
                <p class="card-text">****************************************</p>
                <div class="row">
                    <a href="/progetti/project2.html" class="card-link"><i class="fas fa-desktop desktop-icon"></i></a>
                    <a href="https://github.com/Richardckz/Model-Tuning-ReneWind.git" class="card-link" target="_blank"><i class="fab fa-github github-icon"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 project-cards">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Give A GIF</h5>
                <h6 class="card-subtitle mb-2 text-muted">****************</h6>
                <p class="card-text">********************************</p>
                <div class="row">
                    <a href="/progetti/project3.html" class="card-link"><i class="fas fa-desktop desktop-icon"></i></a>
                    <a href="https://github.com/Richardckz/Model-Tuning-ReneWind.git" class="card-link" target="_blank"><i class="fab fa-github github-icon"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 project-cards">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bop It! Game</h5>
                <h6 class="card-subtitle mb-2 text-muted">****************</h6>
                <p class="card-text">********************************************************</p>
                <div class="row">
                    <a href="/progetti/project4.html" class="card-link"><i class="fas fa-desktop desktop-icon"></i></a>
                    <a href="https://github.com/Richardckz/Model-Tuning-ReneWind.git" class="card-link" target="_blank"><i class="fab fa-github github-icon"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 project-cards">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">COVID 19 Graphs</h5>
                <h6 class="card-subtitle mb-2 text-muted">****************</h6>
                <p class="card-text">********************************</p>
                <div class="row">
                    <a href="/progetti/project5.html" class="card-link"><i class="fas fa-desktop desktop-icon"></i></a>
                    <a href="https://github.com/Richardckz/Model-Tuning-ReneWind.git" class="card-link" target="_blank"><i class="fab fa-github github-icon"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 project-cards">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">World Wide Weather</h5>
                <h6 class="card-subtitle mb-2 text-muted">************************</h6>
                <p class="card-text">************************************************</p>
                <div class="row">
                    <a href="/progetti/project6.html" class="card-link"><i class="fas fa-desktop desktop-icon"></i></a>
                    <a href="https://github.com/Richardckz/Model-Tuning-ReneWind.git" class="card-link" target="_blank"><i class="fab fa-github github-icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--***********SKILLS HEADLINE********-->
<section class="ftco-section" id="skills">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
         <h1 class="section-title">Skills</h1>
        <p>Here are some of my technical skills and proficiency levels</p>
      </div>
    </div>

    <div class="row">
      <!-- Skill 1 -->
      <div class="col-md-6 animate-box">
        <div class="progress-wrap ftco-animate">
          <h3>Python</h3>
          <div class="progress">
            <div class="progress-bar color-1" role="progressbar" aria-valuenow="90"
              aria-valuemin="0" aria-valuemax="100" style="width:90%">
              <span>90%</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Skill 2 -->
      <div class="col-md-6 animate-box">
        <div class="progress-wrap ftco-animate">
          <h3>Networking Fundamentals</h3>
          <div class="progress">
            <div class="progress-bar color-2" role="progressbar" aria-valuenow="85"
              aria-valuemin="0" aria-valuemax="100" style="width:85%">
              <span>85%</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Skill 3 -->
      <div class="col-md-6 animate-box">
        <div class="progress-wrap ftco-animate">
          <h3>Machine Learning</h3>
          <div class="progress">
            <div class="progress-bar color-3" role="progressbar" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100" style="width:75%">
              <span>75%</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Skill 4 -->
      <div class="col-md-6 animate-box">
        <div class="progress-wrap ftco-animate">
          <h3>Web & App Development</h3>
          <div class="progress">
            <div class="progress-bar color-4" role="progressbar" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100" style="width:80%">
              <span>75%</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Skill 5 -->
      <div class="col-md-6 animate-box">
        <div class="progress-wrap ftco-animate">
          <h3>Prompt Engineering</h3>
          <div class="progress">
            <div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" style="width:70%">
              <span>70%</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Skill 6 -->
      <div class="col-md-6 animate-box">
        <div class="progress-wrap ftco-animate">
          <h3>Linux & Windows Administration</h3>
          <div class="progress">
            <div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100" style="width:65%">
              <span>65%</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--CV/EXPERIENCE-->

<section id="experience" class="container mt-5">
  <h1 class="section-title text-center">Experience</h1>

  <div class="row experience-row">
    <div th:each="exp : ${experiences}" class="col-md-6 experience-col">
      <div class="card experience-card">
        <div class="card-body">
          <h5 class="card-title" th:text="${exp.role}"></h5>
          <h6 class="card-subtitle mb-2 text-muted" th:text="${exp.company}"></h6>
          <p class="card-text">
            <small class="text-muted">
              <span th:text="${exp.startDate}"></span> -
              <span th:text="${exp.endDate != null ? exp.endDate : 'Present'}"></span>
            </small>
          </p>
          <p class="card-text" th:text="${exp.description}"></p>
        </div>
      </div>
    </div>
  </div>
</section>





<!--***** CONTACT *****-->
<section class="jumbotron scroll" id="contact">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-5 contact-form mx-auto" style="float:none;">

            <!-- Titolo della sezione -->
            <h2 id="contact-head">Contact</h2>

            <!-- FORM DI CONTATTO -->
            <form th:action="@{/contact}" th:object="${messageRequest}" method="post">
                
                <!-- Campo nome -->
                <div class="form-group">
                    <input type="text" 
                           th:field="*{nome}" 
                           class="form-control" 
                           placeholder="Name and Surname" 
                           required>
                </div>

                <!-- Campo email -->
                <div class="form-group">
                    <input type="email" 
                           th:field="*{email}" 
                           class="form-control" 
                           placeholder="Email" 
                           required>
                </div>

                <!-- Campo messaggio -->
                <div class="form-group">
                    <textarea th:field="*{message}" 
                              class="form-control" 
                              placeholder="Message" 
                              rows="6" 
                              required></textarea>
                </div>

                <!-- Pulsante di invio -->
                <button type="submit" class="btn btn-default">Send</button>
            </form>

        </div>
    </div>
</section>

<!--*****FOOTER******-->
<footer>
  <div class="container">
    <ul>
      <li><span class="icon icon-map-marker"></span> Rome, Italy</li>

    </ul>
    <p>© <span id="currentYear"></span> Richard Chukwu. All rights reserved.</p>
  </div>

  <script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
  </script>
</footer>

<!-- JS -->
<script th:src="@{/libraries/jquery.min.js}"></script>
<script th:src="@{/libraries/bootstrap.min.js}"></script>
<script th:src="@{/js/index.js}"></script>

</body>
</html>
